-e git://github.com/rwb27/openflexure_nano_motor_controller.git#egg=openflexure_stage
-e git://github.com/rwb27/picamera.git@lens-shading#egg=picamera

flask >= 0.12.3
pyyaml==3.13
numpy
Pillow
RPi.GPIO

sphinxcontrib-httpdomain